output/*
output.mp4
mqtt_publisher/
build/
val/*
yolov8n_lite_arm_cpu
test_img
*.mp4

!/val/people(7742).jpg
!/val/people(7743).jpg
!/val/people(7744).jpg
!/val/people(7746).jpg
!/val/people(7751).jpg
!/val/people(7753).jpg
!/val/people(7754).jpg
!/val/people(7755).jpg
!/val/people(7756).jpg
!/val/people(7757).jpg
!/val/people(7758).jpg
!/val/people(7760).jpg


